@{
    Layout = "_PublicLayout";
    ViewBag.Title = Resource.ForPage("/Home/NotFound");
}

<div class="title text-right">@Resource.ForPage("/Home/NotFound")</div>

<hr />

<div class="title fa fa-search"></div>

<hr />

<div class="description">@Resource.ForString("PageNotFound")</div>

<a asp-action="Index" asp-controller="Home" asp-area="" class="btn btn-block btn-primary mt-3">
    @Resource.ForAction("Home")
</a>
