@model SiteMapNode[]

@for (Int32 i = 0; i < Model.Length; i++)
{
    SiteMapNode node = Model[i];

    <li>
        <a href="@node.Form(Url)">
            <span class="icon @node.IconClass"></span>
            <span class="text">@Resource.ForSiteMap(node.Path!)</span>
            @if (node.Children.Length > 0)
            {
                <span class="toggle fa fa-angle-right"></span>
            }
        </a>
        @if (node.Children.Length > 0)
        {
            <ul>
                <partial name="_SiteMap" model="@node.Children" />
            </ul>
        }
    </li>
}
